/******************* BAKCGROUND COLOR **********************************/
body {
    background: #2980B9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*********************************************************/

/*************** TIpos de Letras ***************************/
.titulo1 {
    font-size: 75px;
}

/***********************************************************/

/*************** DIV DEL CONTENIDO **************************/
.contenido {
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    padding: 50px;
    width: auto;
}

.contenido2 {
    background-color: white;
    border-radius: 15px;
    margin: 50px;
    padding: 50px;
    width: auto;
    display: block;
}


/***********************************************


/* TABLE COLOR */
/**************************************************/
/* table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
} */

/*******************************************/

/************* DROPDOWN MENU *********************/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: white;
    background-color: black;
}


/**********************************************/

.NavC {
    background-color: black;

}

/**********************************************/
.divtableEmp {
    background-color: #AED3E5;
    padding: 20px;
    border-radius: 15px;
}

/******************* LOGIN DIV ****************************/
.divTitle {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 65;
}

.inputLogin {
    border-radius: 5px;
    width: 250px;
}

.divLogin {
    height: 300px;
    width: 400px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

/*********************************************************/